<div class="container-fluid acd">
	<div class="card">
		<div class="body">
	<div class="top-progrs">
		<div class="row">
		  <div class="col-sm-5">
			<h3>
			  Bee Fruity & nutty deal
			</h3>
			<ul class="top-count">
			  <li>
				<i class="fa fa-dollar-sign"></i>
				1,000
			  </li>
			  <li>
				  <i class="fa fa-user"></i>
				  Tal Gru
			  </li>
			  <li>
				  <i class="fa fa-building"></i>
				  Bee Fruity & nutty
			  </li>
			</ul>
		  </div>
		  <div class="col-sm-7 text-right">
			<a class="btn btn-success" href="javascript:void(0);">Start Work</a>
			<ul class="wrk-actvt">
			  <li>
				<a href="javascript:void(0);">Reopen</a>
			  </li>
			  <li>
				<a href="javascript:void(0);"><i class="fa fa-th"></i></a>
			  </li>
			  <li>
				  <a href="javascript:void(0);">...</a>
			  </li>
			  <li class="rct-bxdrp">
				  <a class="drpdwn-bx dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <div class="dflt-prfl">
						  <img class="img-profile rounded-circle" src="assets/images/team5.jpg">
					  </div>
					  <div class="dflt-prfl-ct">
						<p class="mr-2 d-none d-lg-inline  font-weight-bold small">Blake Colley</p>
						<h4 class="text-primary">Project Leader </h4>
					  </div>
				   </a>
			  </li>
			  
			</ul>
		  </div>
		</div>
		<div class="progrssbar-bx">
			<div class="display-table">
				<div class="display-cell bl-col">
				   0 days 
				</div>
				<div class="display-cell rd-col">
					0 days
				</div>
				<div class="display-cell ylw-col">
					0 days
				</div>
				<div class="display-cell grn-col">
					0 days
				</div>
				<div class="display-cell pnk-col">
					0 days
				</div>
			</div>
		</div>
		<div class="row">
			  <div class="col-sm-6">
				  <ul class="breadcrumb">
					<li><a href="javascript:void(0);">Sales Calls</a></li>
					<li><span> ></span></li>
					<li><span>Closed Deals</span></li>
				  </ul>
			  </div>
			  <div class="col-sm-6 text-right prblt-expctd-link">
				<a class="text-primary st-prblt" href="javascript:void(0);">Set probability</a>
				<a class="text-primary st-expctd" href="javascript:void(0);">Set expected close date</a>
			  </div>
		</div>
	   
	</div>
	<div class="pg-nav-tab">
			<ul>
				<li><a href="/admin/client-dashboard">NOTES</a></li>
				<li><a href="/admin/client-tasks">TASKS</a></li>
				<li><a href="/admin/project-timeline">TIMELINE</a></li>
				<li><a href="/admin/client-dashboard">ASK A QUESTION</a></li>
				<li><a href="/admin/client-documents">DOCUMENTS</a></li>
				<li><a href="/admin/client-invoice">INVOICING</a></li>
				<li class="active"><a href="/admin/past-projects">PAST PROJECTS</a></li>
			</ul>
	</div>
	<div class="table-responsive tbl-cstm">
		<table class="table">
			<tr>
			  <th>Name <a href="javascipt:void(0);"><i class="fa fa-long-arrow-top"></i></a></th>
			  <th>Owner</th>
			  <th>Last modified</th>
			  <th>File size</th>
			</tr>
			<tr>
			  <td> <a class="fldrnm"  href="javascipt:void(0);">abner</a></td>
			  <td> me</td>
			  <td>Mar 12, 2015 me</td>
			  <td>-</td>
			</tr>
			<tr>
				<td> <a class="fldrnm"  href="javascipt:void(0);">abner</a></td>
				<td> me</td>
				<td>Mar 12, 2015 me</td>
				<td>-</td>
			  </tr>
			  <tr>
				  <td> <a class="fldrnm"  href="javascipt:void(0);">abner</a></td>
				  <td> me</td>
				  <td>Mar 12, 2015 me</td>
				  <td>-</td>
				</tr>
				<tr>
					<td> <a class="fldrnm"  href="javascipt:void(0);">abner</a></td>
					<td> me</td>
					<td>Mar 12, 2015 me</td>
					<td>-</td>
				  </tr>
				  <tr>
					  <td> <a class="fldrnm"  href="javascipt:void(0);">abner</a></td>
					  <td> me</td>
					  <td>Mar 12, 2015 me</td>
					  <td>-</td>
					</tr>
					<tr>
						<td> <a class="fldrnm"  href="javascipt:void(0);">abner</a></td>
						<td> me</td>
						<td>Mar 12, 2015 me</td>
						<td>-</td>
					  </tr>
					  <tr>
						  <td> <a class="fldrnm"  href="javascipt:void(0);">abner</a></td>
						  <td> me</td>
						  <td>Mar 12, 2015 me</td>
						  <td>-</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<footer class="footer">
			2019 ©  <a href="javascript:void(0);">Unique Advisors</a> All Right Reserved
		</footer>
</div>