<form [formGroup]="form" *ngIf="render">
  <img src="assets/images/default.png"><br>
  <div style="text-align: center;"><h5>Schedule C</h5></div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Business name:<span style="color:red;">*</span></label>
        <input formControlName="bussiness_name" type="text" class="form-control">
        <small *ngIf="form.controls.bussiness_name.touched && form.controls.bussiness_name.invalid"
            class="text text-danger">This field is required.</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="my-textarea">Address:</label>
        <textarea formControlName="address" id="my-textarea" class="form-control" name="" rows="2"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Principal business:</label>
        <input formControlName="principal_bussiness" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Business operated by:<span style="color:red;">*</span></label>
        <mat-radio-group formControlName="operated_by">
          <mat-radio-button value="Spouse" class="ml-3">Spouse</mat-radio-button>
          <mat-radio-button value="Taxpayer" class="ml-3">Taxpayer</mat-radio-button>
        </mat-radio-group>
        <small *ngIf="form.controls.operated_by.touched && form.controls.operated_by.invalid"
            class="text text-danger">This field is required.</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Did taxpayer file 1099?</label>
        <input formControlName="tax_payer_file" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Sales:</label>
        <input formControlName="sale" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
  </div>
  <div class="row" formArrayName="expenses">
    <div class="col-md-12">
      <label for="">Expenses:</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="0" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="1" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="2" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="3" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="4" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="5" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="6" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="7" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="8" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="9" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
  </div>
  <div class="row" formGroupName="vehicle_detail">
    <div class="col-md-12">
      <label for="">Vehicle Details:</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Date of Purchase:</label>
        <input formControlName="purchase_date" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Cost:</label>
        <input formControlName="cost" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Make and Model:</label>
        <input formControlName="make_and_model" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Totals Miles Driven:</label>
        <input formControlName="mile_driven" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Totals Business Miles:</label>
        <input formControlName="mile_bussiness" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Was Vehicle Available During off Day Hours?</label>
        <mat-radio-group formControlName="available_off_day">
          <mat-radio-button class="ml-3" value="YES">YES</mat-radio-button>
          <mat-radio-button class="ml-3" value="NO">NO</mat-radio-button>
        </mat-radio-group>
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Was Another Vehicle Available for Personal Use?</label>
        <mat-radio-group formControlName="available_personal_use">
          <mat-radio-button class="ml-3" value="YES">YES</mat-radio-button>
          <mat-radio-button class="ml-3" value="NO">NO</mat-radio-button>
        </mat-radio-group>
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
  </div>
  <div class="row" formArrayName="actual_expense">
    <div class="col-md-12">
      <label>Actual Auto Expenses:</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="0" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="1" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="2" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="3" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="4" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input formControlName="5" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
  </div>
  <div class="row" formGroupName="business_expense">
    <div class="col-md-12">
      <label for="">Expenses for Business Use of Your Home:</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Area used for business:</label>
        <input formControlName="area" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Total area of home:</label>
        <input formControlName="total_area" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Rent:</label>
        <input formControlName="rent" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Utilities:</label>
        <input formControlName="utility" type="text" class="form-control">
        <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Other:</label>
        <textarea formControlName="other" class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>&nbsp;</label>
        <h5 style="color:red;">*Must Attach Personal Tax Client Notes</h5>
      </div>
    </div>
  </div>
</form>