<div class="container-fluid">
	<div class="card">
		<div class="body">
			<div class="top-progrs">
				<div class="row">
					<div class="col-sm-5">
					<h3>
						Bee Fruity & nutty deal
					</h3>
					<ul class="top-count">
						<li>
						<i class="fa fa-dollar-sign"></i>
						1,000
						</li>
						<li>
							<i class="fa fa-user"></i>
							Tal Gru
						</li>
						<li>
							<i class="fa fa-building"></i>
							Bee Fruity & nutty
						</li>
					</ul>
					</div>
					<div class="col-sm-7 text-right">
					<a class="btn btn-success" href="javascript:void(0);">Start Work</a>
					<ul class="wrk-actvt">
						<li>
						<a href="javascript:void(0);">Reopen</a>
						</li>
						<li>
						<a href="javascript:void(0);"><i class="fa fa-th"></i></a>
						</li>
						<li>
							<a href="javascript:void(0);">...</a>
						</li>
						<li class="rct-bxdrp">
							<a class="drpdwn-bx dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<div class="dflt-prfl">
									<img class="img-profile rounded-circle" src="assets/images/team5.jpg">
								</div>
								<div class="dflt-prfl-ct">
								<p class="mr-2 d-none d-lg-inline  font-weight-bold small">Blake Colley</p>
								<h4 class="text-primary">Project Leader </h4>
								</div>
							</a>
						</li>
						
					</ul>
					</div>
				</div>
				<div class="progrssbar-bx">
					<div class="display-table">
						<div class="display-cell bl-col">
							0 days 
						</div>
						<div class="display-cell rd-col">
							0 days
						</div>
						<div class="display-cell ylw-col">
							0 days
						</div>
						<div class="display-cell grn-col">
							0 days
						</div>
						<div class="display-cell pnk-col">
							0 days
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-6">
							<ul class="breadcrumb">
							<li><a href="javascript:void(0);">Sales Calls</a></li>
							<li><span> ></span></li>
							<li><span>Closed Deals</span></li>
							</ul>
						</div>
						<div class="col-sm-6 text-right prblt-expctd-link">
						<a class="text-primary st-prblt" href="javascript:void(0);">Set probability</a>
						<a class="text-primary st-expctd" href="javascript:void(0);">Set expected close date</a>
						</div>
				</div>
				
      </div>
      <div class="pg-nav-tab">
          <ul>
            <li><a href="/admin/client-dashboard">NOTES</a></li>
            <li><a href="/admin/client-tasks">TASKS</a></li>
            <li><a href="/admin/project-timeline">TIMELINE</a></li>
            <li><a href="/admin/client-dashboard">ASK A QUESTION</a></li>
            <li><a href="/admin/client-documents">DOCUMENTS</a></li>
            <li class="active"><a href="/admin/client-invoice">INVOICING</a></li>
            <li><a href="/admin/past-projects">PAST PROJECTS</a></li>
          </ul>
        </div>
			<div class="row clearfix">
				<div class="col-lg-12">
					<div class="card">
						<div class="header">
							<div class="row">
								<div class="col-sm-4">
									<h2>Single Invoice</h2>
								</div>
								<div class="col-sm-8 text-uppercase sd-adns text-right">
									<a href="javascript:void(0);" class="btn btn-success">Send Addon</a>
									<a href="javascript:void(0);" class="btn btn-success rd-col">New Invoice</a>
								</div>
							</div>
						</div>
						<div class="body">
							<h3>Invoice Details : <strong class="text-primary">#A0089</strong></h3>
							<ul class="nav nav-tabs-new2">
								<li class="nav-item inlineblock"><a class="nav-link active" [routerLink] = "['/admin/pages/page-invoices2']" fragment="details" [ngClass]="{'active':fragment == 'details'}">Details</a></li>
								<li class="nav-item inlineblock"><a class="nav-link" [routerLink] = "['/admin/pages/page-invoices2']" fragment="history" [ngClass]="{'active':fragment == 'history'}">History</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane" [ngClass]="{'active':fragment == 'details'}">
									<div class="row clearfix">
										<div class="col-md-6 col-sm-6">
											<address>
												<strong>ThemeMakker Inc.</strong><br>
												795 Folsom Ave, Suite 546<br>
												San Francisco, CA 54656<br>
												<abbr title="Phone">P:</abbr> (123) 456-34636
											</address>
										</div>
										<div class="col-md-6 col-sm-6 text-right">
											<p class="m-b-0"><strong>Order Date: </strong> Jun 15, 2018</p>
											<p class="m-b-0"><strong>Order Status: </strong> <span class="badge badge-warning m-b-0">Pending</span></p>
											<p><strong>Order ID: </strong> #123456</p>
										</div>
									</div>
									<div class="row clearfix">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table table-hover">
													<thead class="thead-dark">
														<tr>
															<th>#</th>
															<th>Item</th>
															<th class="hidden-sm-down">Description</th>
															<th>Quantity</th>
															<th class="hidden-sm-down">Unit Cost</th>
															<th>Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td>Simple Black Clock</td>
															<td class="hidden-sm-down">Lorem ipsum dolor sit amet.</td>
															<td>1</td>
															<td class="hidden-sm-down">$380</td>
															<td>$380</td>
														</tr>
														<tr>
															<td>2</td>
															<td>Brone Candle</td>
															<td class="hidden-sm-down">There are many variations of passages of Lorem Ipsum</td>
															<td>5</td>
															<td class="hidden-sm-down">$50</td>
															<td>$250</td>
														</tr>
														<tr>
															<td>3</td>
															<td>Wood Simple Clock</td>
															<td class="hidden-sm-down">Lorem ipsum dolor sit amet.</td>
															<td>2</td>
															<td class="hidden-sm-down">$500</td>
															<td>$1000</td>
														</tr>
														<tr>
															<td>4</td>
															<td>Unero Small Bag</td>
															<td class="hidden-sm-down">Contrary to popular belief, not simply random text</td>
															<td>3</td>
															<td class="hidden-sm-down">$300</td>
															<td>$900</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<hr>
									<div class="row clearfix">
										<div class="col-md-6">
											<h5>Note</h5>
											<p>Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
												plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.</p>
										</div>
										<div class="col-md-6 text-right">
											<p class="m-b-0"><b>Sub-total:</b> 2930.00</p>
											<p class="m-b-0">Discout: 12.9%</p>
											<p class="m-b-0">VAT: 12.9%</p>
											<h3 class="m-b-0 m-t-10">USD 2930.00</h3>
										</div>
										<div class="hidden-print col-md-12 text-right">
											<hr>
											<button class="btn btn-outline-secondary mr-1"><i class="icon-printer"></i></button>
											<button class="btn btn-primary">Submit</button>
										</div>
									</div>
								</div>
								<div class="tab-pane" [ngClass]="{'active':fragment == 'history'}">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<address>
												<strong>ThemeMakker Inc.</strong><br>
												795 Folsom Ave, Suite 546<br>
												San Francisco, CA 54656<br>
												<abbr title="Phone">P:</abbr> (123) 456-34636
											</address>
										</div>
										<div class="col-md-6 col-sm-6 text-right">
											<p class="m-b-0"><strong>Order Date: </strong> Jun 15, 2018</p>
											<p class="m-b-0"><strong>Order Status: </strong> <span class="badge bg-orange">Pending</span></p>
											<p><strong>Order ID: </strong> #123456</p>
										</div>
									</div>
									<div class="mt-40"></div>
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table table-striped">
													<thead>
														<tr>
															<th>#</th>
															<th>Description</th>
															<th>Date</th>
															<th>Status</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td>Invoice Created</td>
															<td>18 Dec, 2017</td>
															<td><span class="badge badge-default">Panding</span></td>
														</tr>
														<tr>
															<td>1</td>
															<td>Invoice Sent</td>
															<td>19 Dec, 2017</td>
															<td><span class="badge badge-default">Panding</span></td>
														</tr>
														<tr>
															<td>1</td>
															<td>Invoice Paid</td>
															<td>20 Dec, 2017</td>
															<td><span class="badge badge-success">Success</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>