<form>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">CREDIT CARD PAYMENT AUTHORIZATION FORM</h4>
      
       <div class="form-row mb-4">
	        <div class="form-row">
	            <p>Sign & complete this form to authorize Unique Accounting to make debits to your credit card listed below.</p>
	            <br>
	            <p>By signing this form, you give us permission to debit your account for the amount indicated on or after the indicated date. This is permission for the agreed upon charges only, in accordance with the agreed upon services, established with Unique Accounting. This amount will continue until further notice or the arrangement is altered.</p>
	        </div>
     	</div>
     </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Please complete the information below:</h4>
      
       <div class="form-row mb-4">
	        <div class="form-row">
	            <div class="col-md-10"><label>I  </label><input type="text" class="form-control" placeholder="(Full Name)"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label> authorize Unique Accounting to charge my credit card Account indicated below for : </label><input type="text" class="form-control" placeholder="(Amount)"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label>  on or after : </label><input type="text" class="form-control" placeholder="(Date)"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label>  This payment is for  : </label><input type="text" class="form-control" placeholder="(Description of goods/services)"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label> Billing Address  : </label><input type="text" class="form-control" placeholder="(Description of goods/services)"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label>Phone  : </label><input type="text" class="form-control" placeholder="(Description of goods/services)"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label>City, State, Zip  : </label><input type="text" class="form-control" placeholder="(Description of goods/services)"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label>Email  : </label><input type="text" class="form-control" placeholder="(Description of goods/services)"></div>
	        </div>
     	</div>

      <div class="form-row mb-4">
      	<div class="form-row">
      		<label>
      			Account Type:
      		</label>
      	</div>
      </div>
      <div class="form-row mb-4">
      	 <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label"> Visa</label>
         </div>
         <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label"> MasterCard</label>
         </div>
         <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label"> AMEX</label>
         </div>
         <div class="custom-control custom-radio custom-control-inline">
            <input type="checkbox" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label"> Discover</label>
         </div>
      </div>

      <div class="form-row mb-4">
	        <div class="form-row">
	            <div class="col-md-10"><label>Cardholder Name :</label><input type="text" class="form-control"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label>Card Account Number:  </label><input type="text" class="form-control"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label>Exp. Date: </label><input type="text" class="form-control"></div>
	        </div>
	        <div class="form-row">
	            <div class="col-md-10"><label>CVV2 (3 digit number on back of Visa/MC, 4 digits on front of AMEX):</label><input type="text" class="form-control"></div>
	        </div>
     	</div>

      <div class="form-row mb-4">
	        <div class="form-row">
	            <label>
	            	Unless you notify us, before the renewal, that you want to cancel or do not want to automatically renew, you understand that the renewal will automatically continue and you authorize us (without notice to you, unless required by applicable law) to collect the applicable fees using the credit card we have on record for you.
	            </label>
	        </div>
     	</div>

      <div class="form-row mb-4">
	        <div class="form-row">
	            <label>
	            	I authorize the above named business to charge the credit card indicated in this authorization form, according to the terms outlined above. This payment authorization is for the goods/services described above, for the amount indicated above.
	            </label>
	        </div>
     	</div>

      <div class="form-row mb-4">
	        <div class="form-row">
	            <label>
	            	Phone: (702) 2020-CPA I Fax: (702)476-3215 I info@unique-accounting.com
	            </label>
	        </div>
     	</div>

     </div>
  </div>

</form>
