<div class="container-fluid pt-5 pb-5" *ngIf="render">
  <form [formGroup]="form">
    <h2>SECRETARY OF STATE:</h2>
    <div class="form-group row mb-1">
      <label class="col-sm-4 col-form-label">Company Name</label>
      <div class="col-sm-4">
        <input formControlName="company_name" type="text" class="form-control">
      </div>
      <label for="phone" class="col-sm-1 col-form-label">Phone</label>
      <div class="col-sm-3">
        <input type="text" maxlength="10" formControlName="phone_number" class="form-control" id="phone">
      </div>
    </div>
    <div class="form-group row mb-1">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="form-check">
          <input type="radio" formControlName="company_type" value="Limited Liability Company" class="form-check-input"
            id="limited_Liability_company">
          <label class="form-check-label" for="limited_Liability_company">Limited Liability Company</label>
        </div>
        <div class="form-check">
          <input type="radio" formControlName="company_type" value="S Corporation" class="form-check-input"
            id="s_corporation">
          <label class="form-check-label" for="s_corporation">S Corporation</label>
        </div>
        <div class="form-check">
          <input type="radio" formControlName="company_type" value="Corporation" class="form-check-input"
            id="corporation">
          <label class="form-check-label" for="corporation">Corporation</label>
        </div>
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="company_address" class="col-sm-4 col-form-label">Company Address</label>
      <div class="col-sm-8">
        <input type="text" formControlName="company_address" class="form-control" id="company_address">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="email_address" class="col-sm-4 col-form-label">Email Address</label>
      <div class="col-sm-4">
        <input type="email" formControlName="email_address" class="form-control" id="email_address">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="officers_address" class="col-sm-4 col-form-label">Officers/Title/Address</label>
      <div class="col-sm-8">
        <textarea class="form-control" formControlName="officers_address" id="officers_address"></textarea>
      </div>
    </div>
    <ng-container [formGroupName]="'agreement'">

      <div class="form-group mb-1">
        <div class="form-check">
          <input type="checkbox" formControlName="0" class="form-check-input" id="term_and_condition_1">
          <label class="form-check-label" for="term_and_condition_1">I authorize Unique Accounting to charge the $425
            LLC state fees and $500 professional fees to the credit card provided.</label>
        </div>
      </div>
      <div class="form-group mb-1">
        <div class="form-check">
          <input type="checkbox" formControlName="1" class="form-check-input" id="term_and_condition_2">
          <label class="form-check-label" for="term_and_condition_2">I authorize a $100 charge for S Corp
            Election.</label>
        </div>
      </div>
      <div class="form-group mb-1">
        <div class="form-check">
          <input type="checkbox" formControlName="2" class="form-check-input" id="term_and_condition_3">
          <label class="form-check-label" for="term_and_condition_3">I authorize Unique Accounting to charge the $725
            Corporation fees and $500 professional fees to the
            Credit card provided.</label>
        </div>
      </div>
      <div class="form-group mb-1">
        <div class="form-check">
          <input type="checkbox" formControlName="3" class="form-check-input" id="term_and_condition_4">
          <label class="form-check-label" for="term_and_condition_4">Order a Corporation/LLC book (cost $150) including
            corporate seal, certificate & other business forms.</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" formControlName="4" class="form-check-input" id="term_and_condition_5">
          <label class="form-check-label" for="term_and_condition_5">Order a Corporation/LLC book (cost $150) including
            corporate seal, certificate & other business forms.</label>
        </div>
      </div>
      <h6>Choose only one of the following renewal options below for companies: (2nd year option). The first
        year of Registered Agent fees are included in the foundation of the company.</h6>
      <div class="form-group mb-1">
        <div class="form-check">
          <input type="radio" formControlName="fee" value="$75" class="form-check-input" id="term_and_condition12">
          <label class="form-check-label" for="term_and_condition12">$75 for Unique Accounting to act as the Registered
            Agent.</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input type="radio" formControlName="fee" value="$150" class="form-check-input" id="term_and_condition10">
          <label class="form-check-label" for="term_and_condition10">$150 (plus state fees) for the renewal of the NV
            state Business License & updating Annual List of Managers/Members.
            Unique Accounting acts as Registered Agent.</label>
        </div>
      </div>
      <h6>Unless you notify us, before the renewal comes due, that you want to cancel or do not want to automatically
        renew, you understand
        that the renewal will automatically continue and you authorize us (without notice to you, unless required by
        applicable law) to collect
        the applicable fees using any credit card we have on record for you.</h6>
      <div class="form-group">
        <div class="form-check">
          <input formControlName="5" type="checkbox" class="form-check-input" id="term_and_condition_7">
          <label class="form-check-label" for="term_and_condition_7">I will renew my NV state business license/annual
            list
            myself and release Unique Accounting from any
            Future late filing liabilities.</label>
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="signature" class="col-sm-4 col-form-label">Signature</label>
        <div class="col-sm-4">
          <input type="file" class="form-control" id="signature">
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="date" class="col-sm-4 col-form-label">Date</label>
        <div class="col-sm-4">
          <input formControlName="date" type="date" class="form-control" id="date">
        </div>
      </div>
      <div class="form-group">
      </div>
      <p class="text-center">The information provided is for general purposes only. You should not rely upon it as
        advice
        about specific legal problems, It does not constitute
        The rendering of legal advice and does not create any attorney-client relationship. If you need legal advice,
        you
        should consult with appropriate legal counsel.</p>
      <h6 class="text-center">Phone: (702) 2020-CPA I Fax: (702)476-3215 I <a href="">info@unique-accounting.com</a>
      </h6>
      <h5 class="text-center text=uppercase text-danger">THE FINAL PIECE TO YOUR PUZZLE | WWW.UNIQUE-ACCOUNTING.COM</h5>
    </ng-container>
    <h2>EIN:</h2>
    <ng-container [formGroupName]="'EIN'">

      <div class="form-group row mb-1">
        <label for="business_state" class="col-sm-4 col-form-label">State where the business is physically
          located</label>
        <div class="col-sm-4">
          <input formControlName="bussiness_state" type="text" class="form-control" id="business_state">
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="responsible_party" class="col-sm-4 col-form-label">Name of responsible party of the Company</label>
        <div class="col-sm-8">
          <input type="text" formControlName="responsible_party" class="form-control" id="responsible_party">
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="security_number" class="col-sm-4 col-form-label">Social Security Number</label>
        <div class="col-sm-4">
          <input type="number" formControlName="social_security_number" class="form-control" id="security_number">
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="dob" class="col-sm-4 col-form-label">Date of Birth</label>
        <div class="col-sm-8">
          <input type="date" formControlName="dob" class="form-control" id="dob">
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="mailling-address" class="col-sm-4 col-form-label">Mailing and physical address: (Physical address
          must
          be U.S. address, no P.O. Box)</label>
        <div class="col-sm-8">
          <textarea formControlName="mailing_address" class="form-control" id="mailling-address"></textarea>
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="highest_no_emp" class="col-sm-4 col-form-label">Highest number of employees expected in the next 12
          months</label>
        <div class="col-sm-8">
          <input type="number" formControlName="highest_employee" class="form-control" id="highest_no_emp">
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="first_date_wages" class="col-sm-4 col-form-label">First date wages were paid</label>
        <div class="col-sm-8">
          <input type="text" formControlName="first_wage_date" class="form-control" id="first_date_wages">
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="business_activity" class="col-sm-4 col-form-label">Principal business activity</label>
        <div class="col-sm-8">
          <input formControlName="principal_bussiness_activity" type="text" class="form-control" id="business_activity">
        </div>
      </div>
      <h3 class="pt-5 pb-5">FORM 2553 (S-CORPORATION ONLY):</h3>
      <div class="form-group row">
        <label for="" class="col-sm-4 col-form-label">Shareholder name/Ownership</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input type="text" formControlName="shareholder_name" class="form-control" id="shareholder_name">/
            <input type="text" formControlName="shareholder_owner_ship" class="form-control" id="ownership">
          </div>
        </div>
      </div>
      <p class="text-center bg-warning">Please note: Your Name must match your ID. Unique Accounting is not responsible
        for any
        re-filing of documents due to your proper name not being indicated. <input type="text"
          formControlName="initials" Initials /> </p>
      <div class="form-group">
      </div>
    </ng-container>
    <h6 class="text-center">Phone: (702) 2020-CPA I Fax: (702)476-3215 I <a href="">info@unique-accounting.com</a></h6>
    <h5 class="text-center text-uppercase">CREDIT CARD PAYMENT AUTHORIZATION FORM</h5>
    <h5 class="text-center text=uppercase text-danger">THE FINAL PIECE TO YOUR PUZZLE | WWW.UNIQUE-ACCOUNTING.COM</h5>

    <p>Sign & complete this form to authorize Unique Accounting to make annual debits to your credit card
      listed below.</p>
    <p>By signing this form, you give us permission to debit your account for the amount indicated on or after the
      indicated date. This is permission for the agreed upon charges only, in accordance with the Secretary of
      State arrangement, established with Unique Accounting. This amount will continue until further notice or
      the arrangement is altered. Unique Accounting is not responsible for any late fees that may occur.</p>
    <hr>
    <h2>Please complete the information below:</h2>
    <p style="word-spacing: 12px">I <input formControlName="name" type="text" placeholder="Full Name" class="mt-2">
      authorize Unique Accounting
      to charge my credit card Account indicated below for <input formControlName="amount" type="" placeholder="Amount"
        class="mt-2"> on or after
      <input formControlName="after_date" type="date" placeholder="Date" class="mt-2"> .</p>
    <div class="form-group row mb-1">
      <label for="payment_for" class="col-sm-4 col-form-label">This payment is for</label>
      <div class="col-sm-4">
        <input formControlName="payment_for" type="text" class="form-control" id="payment_for"
          placeholder="Description of goods/services">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="billing_address" class="col-sm-4 col-form-label">Billing Address</label>
      <div class="col-sm-8">
        <input formControlName="billing_address" type="text" class="form-control" id="billing_address">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="phone" class="col-sm-4 col-form-label">Phone</label>
      <div class="col-sm-4">
        <input formControlName="phone" type="text" class="form-control" id="phone">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="city_state_zip" class="col-sm-4 col-form-label">City, State, Zip</label>
      <div class="col-sm-4">
        <input formControlName="city" type="text" class="form-control" id="city_state_zip">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="email" class="col-sm-4 col-form-label">Email</label>
      <div class="col-sm-4">
        <input formControlName="email" type="email" class="form-control" id="email">
      </div>
    </div>
    <hr>
    <div class="form-group row mb-1">
      <label for="email" class="col-sm-4 col-form-label">Account Type</label>
      <div class="col-md-8">
        <div class="form-check">
          <input type="radio" value="Visa" formControlName="account_type" class="form-check-input" id="visa">
          <label class="form-check-label" for="visa">Visa</label>
        </div>
        <div class="form-check">
          <input type="radio" value="Master Card" formControlName="account_type" class="form-check-input"
            id="master_card">
          <label class="form-check-label" for="master_card">Master Card</label>
        </div>
        <div class="form-check">
          <input type="radio" value="AMEX" formControlName="account_type" class="form-check-input" id="amex">
          <label class="form-check-label" for="amex">AMEX</label>
        </div>
        <div class="form-check">
          <input type="radio" value="Discover" formControlName="account_type" class="form-check-input" id="discover">
          <label class="form-check-label" for="discover">Discover</label>
        </div>
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="cardholder_name" class="col-sm-4 col-form-label">Cardholder Name</label>
      <div class="col-sm-4">
        <input formControlName="card_holder_name" type="text" class="form-control" id="cardholder_name">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="card_account_number" class="col-sm-4 col-form-label">Card Account Number</label>
      <div class="col-sm-4">
        <input formControlName="card_account_number" type="number" class="form-control" id="card_account_number">
      </div>
    </div>
    <div class="form-group row mb-1">
      <label for="exp_date" class="col-sm-4 col-form-label">Exp. Date</label>
      <div class="col-sm-4">
        <input formControlName="exp_date" type="date" class="form-control" id="exp_date">
      </div>
    </div>
    <div class="form-group row">
      <label for="cvv" class="col-sm-4 col-form-label">CVV2 (3 digit number on back of Visa/MC, 4 digits on front of
        AMEX)</label>
      <div class="col-sm-4">
        <input formControlName="cvv2" type="number" maxlength="7" class="form-control" id="cvv">
      </div>
    </div>
    <p>Unless you notify us, before the renewal, that you want to cancel or do not want to automatically renew, you
      understand that the
      renewal will automatically continue and you authorize us (without notice to you, unless required by applicable
      law)
      to collect the
      applicable fees using the credit card we have on record for you.</p>
    <h5>I authorize the above named business to charge the credit card indicated in this authorization form,
      according to the terms outlined above. This payment authorization is for the goods/services described
      above, for the amount indicated above.</h5>
    <h6 class="text-center">Phone: (702) 2020-CPA I Fax: (702)476-3215 I <a href="">info@unique-accounting.com</a></h6>
    <h5 class="text-center text-uppercase text-danger">THE FINAL PIECE TO YOUR PUZZLE | WWW.UNIQUE-ACCOUNTING.COM</h5>
  </form>
</div>